<template>
  <div class="content">
    <div class="section">
    	<div class="row">
      <div class="col-md-8">
        <pw-buttons></pw-buttons>
        <pw-tables></pw-tables>
        <div class="row">
          <div class="col-md-6">
            <pw-card></pw-card>
          </div>
          <div class="col-md-6">
            <pw-card-colored></pw-card-colored>
          </div>
        </div>
        </div>
        <div class="col-md-4">
          <pw-card-with-action></pw-card-with-action>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import PwButtons from '../elements/Buttons.vue';
  import PwCardWithAction from '../elements/CardWithAction.vue';
  import PwTables from '../elements/Tables.vue';
  import PwCard from '../elements/Card.vue';
  import PwCardColored from '../elements/CardColored.vue';
  export default {
    components: {
      PwButtons, PwCardWithAction, PwTables, PwCard, PwCardColored
    }
  }
</script>