<template>
  <div class="content">
    <div class="section">
      <offline-notif></offline-notif>
      <upgrade-notif></upgrade-notif>
    </div>
    <div class="section">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-content">
              <table class="table border-less margin-less">
                <tr>
                  <td>Current Session</td>
                  <td class="is-bold is-text-md">June 2017</td>
                </tr>
              </table>
            </div>
			
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-content">
              <table class="table border-less margin-less">
                <tr>
                  <td>Deadline</td>
                  <td class="is-bold is-text-md">31/7/2017</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" v-for="n in 3">
          <card-default></card-default>
        </div>
      </div>
    </div>
    <div class="section">
      <dashboard-stats></dashboard-stats>
    </div>
  </div>
</template>

<script>
  import CardDefault from '../../../elements/Card'
  import DashboardStats from '../components/DashboardStats'
  import offlineNotif from '../components/OfflineNotif'
  import upgradeNotif from '../components/UpgradeNotif'

  export default {
    components: {
      CardDefault,
      DashboardStats,
      offlineNotif,
      upgradeNotif
    }
  }

</script>
