@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/buttons";
@import "../partials/icons";
@import "../partials/cards";
@import "../partials/forms";
@import "../partials/checklists";
@import "../partials/navbar";
@import "../partials/labels";
@import "../partials/tables";
@import "../partials/avatars";
@import "../partials/helpers";

body {
  background-color: $color-grey--softer;
  color: $color-black;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.side-nav {
  height: 100%;
  width: 230px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  // background-color: $color-black;
  overflow-x: hidden;
  padding-top: 20px;
  @media screen and (max-width: $break-mobile-large) {
    display: none;
  }
  &.active-state {
    @media screen and (max-width: $break-mobile-large) {
      display: block;
      background-color: $color-black;
      z-index: 3;
    }
  }
}

.side-nav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 1em;
  display: block;
}

.side-nav {
  &.active-state {
    // do css transition on open
  transition: all .75s ease;
  }
  li {
    border-bottom: 1px solid $color-grey--soft;
    a {
      color: $color-black;
      padding: 10px 8px 10px 16px;
      &:hover {
        color: $color-grey;
      }
    }
    .dropdown-icon {
      position: absolute;
      left: 90%;
      top: 35%;
    }
  }
}

.hr-side-nav {
  position: absolute;
  width: 235px;
  padding: 1em;
  top: 255px;
  li {
    list-style-type: none;
  }
  .clipped-button {
    top: -40px;
    width: 205px;
    position: absolute;
  }
  &.active-state {
    li a {
      color: $color-grey--softer;
    }
  }
}

.hr-nested-nav {
  padding-left: 0;
  li {
    padding-left: 1em;
  }
}

.hr-logo {
  padding: 0 2em;
  color: $color-white;
  h4 {
    margin: 0;
  }
  h3 {
    margin-bottom: 10px;
  }
  .hr-brand-logo {
    padding-left: 0;
    text-align: left;
  }
}

.hr-brand-logo {
  text-align: center;
  margin-bottom: 18px;
  padding-left: 0;
  img {
    width: auto;
    max-height: 51px;
  }
}

.top-header {
  height: 235px;
  background: $color-black;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.main-content {
  position: relative;
  margin-left: 230px;
  padding: 0px 10px;
  margin-bottom: 5em;
  @media screen and (max-width: $break-mobile-large) {
    margin-left: 0;
    padding: 0;
    padding-top: 3em;
  }
}

.hr-top-header {
  .top-nav-hr {
    list-style: none;
    padding: 5px 16px;
    display: flex;
    float: right;
    @media screen and (max-width: $break-mobile-large) {
      display: none;
    }
  }
  .top-nav-item {
    display: inline;
    padding: 0 8px;
    a {
      color: $color-primary;
      &:hover, &:focus, &:active {
        text-decoration: none;
        color: $color-primary-hover;
      }
    }
  }
  @media screen and (max-width: $break-mobile-large) {
    margin-bottom: 0;
    color: $color-black;
  }
}

.section {
  padding: 1em 0;
}

#{$a-tags} {
  color: $color-primary;
  text-decoration: none;
}
#{$a-tags-hover} {
  color: $color-primary;
}

.table-stat-container {
  margin-bottom: 1em;
  label {
    @media screen and (min-width: $break-large) {
      line-height: 35px;
    }
  }
}

.table-stat-container {
  @media screen and (min-width: $break-large) {
    width: 50%;
  }
}