<template>
	<div>
		<div class="row">
			<div class="col-md-4 table-stat-container">
				<div class="row">
					<div class="col-md-2">
						<label for="stats">Stats for</label>
					</div>
					<div class="col-md-5">
						<v-select 
							class="colored-select"
							:searchable="false"
							v-model="selected" 
							placeholder="Filter by"
							:options="['Monthly','Quarterly', 'Annualy']">
						</v-select>
					</div>
					<div class="col-md-5">
						<v-select 
							class="colored-select"
							:searchable="false"
							v-model="selectedMonth" 
							placeholder="Sort by Month"
							:options="yearly">
						</v-select>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card card-full-height">
					<div class="card-content green-blur text-center">
						<p class="is-uppercase">Overall Stats</p>
						<p class="is-uppercase is-text-md margin-less is-bold">Looking Healthy</p>
						<p class="margin-less is-uppercase">-Bravo!</p>
						<h2 class="is-text-xxl">76.6%</h2>
						<button class="btn btn-success btn-block">
							<i class="font-arrow-up"></i> 0.8
						</button>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<!-- insert chart -->
				<line-chart></line-chart>
			</div>
		</div>
		<div class="spacer-xs"></div>	
		<div class="section">
			<div class="row">
				<div class="col-md-4" v-for="n in 2">
					<!-- Card goes here -->
					<ranking></ranking>
				</div>
			</div>	
		</div>
	</div>
</template>

<script>
	import vSelect from 'vue-select'
	import lineChart from './LineChart'
	import Ranking from './Ranking'

	export default {
		components: {
			vSelect, lineChart, Ranking
		},
		data () {
			return {
				selected: '',
				selectedMonth: '',
				yearly: ['Jan 2018', 'Feb 2018', 'Mar 2018', 'Apr 2018', 'May 2018', 'Jun 2018', 'Jul 2018', 'Aug 2018', 'Sep 2018', 'Oct 2018', 'Nov 2018', 'Dec 2018',
				]
			}
		}
	}
</script>