<template>
	<div class="card card-full-height">
		<div class="card-header">
			<div class="card-header--actions">
				<div class="row">
					<div class="col-md-12">
						<p class="is-bold inline-block">Trend</p>
						<div class="btn-group btn-group-chart pull-right">
							<button type="button" class="btn btn-primary btn-xs border-no-radius active">All</button>
							<button type="button" class="btn btn-default btn-xs border-no-radius">Internal</button>
							<button type="button" class="btn btn-default btn-xs border-no-radius">Customers</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-content">
			<!-- line chart goes here -->
			<trend-chart 
				:chart-data="graph"
				:height="200"
			></trend-chart>
		</div>
	</div>
</template>

<script>
	import trendChart from './Trend'

	export default {
		components: { trendChart },
		data () {
			return {
		  		graph: {
  		        //Data to be represented on x-axis
  		          labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], 
  		          datasets: [
  		            {
  		              label: 'Data One',
  		              backgroundColor: '#f87979',
  		              pointBackgroundColor: 'white',
  		              borderWidth: 1,
  		              pointBorderColor: '#249EBF',
  		              //Data to be represented on y-axis
  		              data: [40, 20, 30, 50, 90, 10, 20, 40, 50, 70, 90, 100]
  		            }
  		          ]
  		        }
			}
		},
		mounted () {
			
		}
	}
</script>