<template>
  <div class="card red">
    <div class="card-content card-content--sm">
      <table class="table border-less margin-less">
        <tr>
          <td><p class="is-text-md text-white margin-less">Your company is still offline.</p></td>
          <td class="text-right" style="width: 15%">
            <button class="btn btn-transparent text-white btn-block">Go to employee list</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>
