<template>
  <div class="card">
    <div class="card-header text-center">
      <p class="is-bold margin-bottom-less">Ranking</p>
      <p class="card-header--title">TOP 10 Employees</p>
    </div>
    <div class="card-content">
        <table class="table">
          <tbody>
            <tr v-for="n in 10">
              <td>{{n}}</td>
              <td>John Doe</td>
              <td class="is-bold">80.1%</td>
              <td>
                <i class="font-arrow-up text-success is-text-sm"></i> 
                <span class="text-success">80.1%</span>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</template>
