<template>
  <div class="card dark">
    <div class="card-content card-content--sm">
      <table class="table border-less margin-less">
        <tr>
          <td><p class="is-text-md text-white margin-less">Your free trial is going to expire soon.</p></td>
          <td class="text-right" style="width: 15%">
            <button class="btn btn-primary btn-block">Upgrade now</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>
