<template>
	<div class="card dark">
		<div class="card-content text-white">
			<h4>Buttons</h4>
			<p>Custom buttons for peoplewave.</p>
			<div class="spacer-sm"></div>
			<div class="form-group">
				<button class="btn btn-primary">Primary</button>
				<button class="btn btn-default">Default</button>
				<button class="btn btn-success">Success</button>
				<button class="btn btn-danger">Danger</button>
				<button class="btn btn-transparent">Transparent</button>
				<button class="btn btn-light">Light</button>
				<button class="btn btn-dark">Dark</button>
				<button class="btn btn-link">Link</button>
			</div>
			<div class="spacer-sm"></div>
			<div class="row">
				<div class="col-md-3">
					<p>Same size buttons</p>
					<button class="btn btn-primary btn-block">Hello there!</button>
					<button class="btn btn-primary btn-block">I'm a long text button?</button>
				</div>
				<div class="col-md-9">
					<p>Disabled button</p>
					<button class="btn btn-primary" disabled>I'm disabled</button>
				</div>
			</div>
		</div>
	</div>
</template>