<template>
	<div>
		<div class="card">
			<div class="card-content card-content--sm text-center">
				<p class="is-text-sm text-black--soft">Employee Onboarding</p>
				<h2 class="is-text-xl is-bold margin-top-less">0/125</h2>
				<p>have verified their accounts</p>
			</div>
		</div>
	</div>
</template>