<template>
	<div>
		<div class="card yellow">
			<div class="card-content text-center">
				<p class="is-text-sm">Employee Onboarding</p>
				<h2 class="is-text-xl is-bold">0/125</h2>
				<p>have verified their accounts</p>
			</div>
		</div>
		<div class="card green">
			<div class="card-content text-center">
				<p class="is-text-sm">Employee Onboarding</p>
				<h2 class="is-text-xl is-bold">0/125</h2>
				<p>have verified their accounts</p>
			</div>
		</div>
	</div>
</template>