<template>
	<div class="card">
        <div class="card-header">
          <div class="card-header--title">List title</div>
          <div class="card-header--actions">
            <div class="row">
              <div class="col-xs-6">
                <v-select
                  placeholder="Sort by"
                  :searchable="false"
                  v-model="selected" 
                  :options="['Most recent', 'Oldest']">
                </v-select>
              </div>
              <div class="col-xs-6 text-right">
                <button class="btn btn-primary">Primary</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-content">
          <ul class="checklist-collection">
            <li class="checklist-collection--item" v-for="n in 5">
              <div class="cci-holder">
                <div class="cci-item">
                  <p>Checklist Name</p>
                  <small>by Peoplewave Pte Ltd | 02/02/2018</small>
                  <p class="cci-item-desc">Some description.</p>
                </div>
                <div class="cci-item text-right">
                  <p class="is-bold">1 item</p>
                  <button class="btn btn-transparent">View/Edit</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
  	</div>
</template>

<script>
  import vSelect from 'vue-select'
  export default {
    components: { vSelect },
    data () {
      return {
        selected: ''
      }
    }
  }
</script>