<template>
	<div>
		<div class="card">
			<div class="card-header with-actions">
				<div class="card-header--actions">
					<div class="row">
						<div class="col-md-6">
							<div class="card-header--title">Table title</div>
						</div>
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="row">
									<div class="col-md-7">
										<div class="form-group">
											<v-select
												placeholder="Sort by"
												:searchable="false"
												v-model="selected" 
												:options="['Name','Status', 'Date']">
											</v-select>
										</div>
									</div>
									<div class="col-md-5 text-right">
										<a href="#" class="btn btn-default btn-circle">
											<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
										</a>
										<a href="#" class="btn btn-default btn-circle">
											<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
										</a>
										<a href="#" class="btn btn-default btn-circle">
											<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
										</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="card-content">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Avatar</th>
								<th>Name</th>
								<th>Start date</th>
								<th>Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img :src="avatar" alt="" class="img-responsive avatar-default">
								</td>
								<td>John Doe</td>
								<td>02/08/2018</td>
								<td><span class="label label-default">Default label</span></td>
								<td>
									<a href="#" class="btn-table--anchor"><i class="font-user-circle"></i></a>
									<a href="#" class="btn-table--anchor"><i class="font-message"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<img :src="avatar" alt="" class="img-responsive avatar-default">
								</td>
								<td>John Doe</td>
								<td>02/08/2018</td>
								<td><span class="label label-primary">Primary label</span></td>
								<td>
									<a href="#" class="btn-table--anchor"><i class="font-user-circle"></i></a>
									<a href="#" class="btn-table--anchor"><i class="font-message"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<img :src="avatar" alt="" class="img-responsive avatar-default">
								</td>
								<td>John Doe</td>
								<td>02/08/2018</td>
								<td><span class="label label-success">Success label</span></td>
								<td>
									<a href="#" class="btn-table--anchor"><i class="font-user-circle"></i></a>
									<a href="#" class="btn-table--anchor"><i class="font-message"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<img :src="avatar" alt="" class="img-responsive avatar-default">
								</td>
								<td>John Doe</td>
								<td>02/08/2018</td>
								<td><span class="label label-danger">Danger label</span></td>
								<td>
									<a href="#" class="btn-table--anchor"><i class="font-user-circle"></i></a>
									<a href="#" class="btn-table--anchor"><i class="font-message"></i></a>
								</td>
							</tr>
							<tr v-for="n in 6">
								<td>
									<img :src="avatar" alt="" class="img-responsive avatar-default">
								</td>
								<td>John Doe</td>
								<td>02/08/2018</td>
								<td><span class="label label-default">Default label</span></td>
								<td>
									<a href="#" class="btn-table--anchor"><i class="font-user-circle"></i></a>
									<a href="#" class="btn-table--anchor"><i class="font-message"></i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="text-right">
					<div class="pagination">
						<span>Showing 1-10 out of 24</span>
						<div class="pagination-actions">
							<a href="#" class="btn btn-default btn-circle">
								<i class="glyphicon glyphicon-menu-left"></i>
							</a>
							<a href="#" class="btn btn-default btn-circle">
								<i class="glyphicon glyphicon-menu-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header with-actions">
				<div class="card-header--actions">
					<div class="row">
						<div class="col-md-6">
							<div class="card-header--title">Another Table</div>
						</div>
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="row">
									<div class="col-md-7">
										<div class="form-group">
											<v-select
												placeholder="Sort by"
												:searchable="false"
												v-model="selected" 
												:options="['Name','Creator', 'Date Modified']">
											</v-select>
										</div>
									</div>
									<div class="col-md-5 text-right">
										<a href="#" class="btn btn-default btn-circle">
											<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
										</a>
										<a href="#" class="btn btn-default btn-circle">
											<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
										</a>
										<a href="#" class="btn btn-default btn-circle">
											<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
										</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="card-content">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>No. of Items</th>
								<th>Creator</th>
								<th colspan="2">Date Modified</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="n in 10">
								<td>Awesome cheklist</td>
								<td>{{ n }}</td>
								<td>Hannah Rey</td>
								<td>02/08/2018</td>
								<td>
									<a href="#" class="btn-table--anchor">
										<i class="glyphicon glyphicon-option-vertical"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="text-right">
					<div class="pagination">
						<span>Showing 1-10 out of 24</span>
						<div class="pagination-actions">
							<button href="#" class="btn btn-link">Prev</button>
							<button href="#" class="btn btn-link">Next</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import vSelect from 'vue-select'
	import Avatar from '../../../static/img/avatars/avatar-default.png' //import avatar image

	export default {
		components: {vSelect},
		data () {
			return {
				selected: '',
				avatar: Avatar
			}
		}
	}
</script>
