<template>
  <div id="app">
    <div class="wrapper">
      <div class="mobile-menu">
        <div class="container">
          <div class="row">
            <div class="col-xs-2">
              <a href="#" class="anchor-link"
                @click="toggleSidenav">
                <i class="font-menu"></i>
              </a>
            </div>
            <div class="col-xs-10 text-right">
              <ul class="top-nav-hr">
                <li class="top-nav-item"><a href="#" class="text-primary">Hi, Peoplewave</a></li>
                <li class="top-nav-item">
                  <a href="#" class="text-primary"><i class="font-bell"></i></a>
                </li>
                <li class="top-nav-item">
                  <a href="#" class="text-primary"><i class="font-question"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <transition name="fade">
        <div class="side-nav" :class="{'active-state' : sidenavOpen}">
          <button class="close btn-light btn-sidenav-close" v-if="sidenavOpen"
            @click="toggleSidenav"><span aria-hidden="true">&times;</span>
          </button>
          <div class="hr-logo">
            <a href="#" class="hr-brand-logo">
              <img src="./assets/images/logo.png" alt="company-logo">
            </a>
            <h4 class="is-uppercase is-text-md">Company</h4>
            <h3 class="is-text-xl">Peoplewave Pte Ltd</h3>
          </div>
          <ul class="hr-side-nav" :class="{'active-state' : sidenavOpen}">
            <div class="clipped-button">
              <a href="#" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i> Add employee
              </a>
            </div>
            <li><a href="#" class="is-bold">Company Overview</a></li>
            <li class="dropdown" @click="togglePwave('dropdownlink')">
              <a href="#" class="dropdown-toggle is-bold">Performance Wave 
                <span class="font-arrow-down dropdown-icon is-text-sm text-primary" :class="{'font-arrow-up' : isOpenPwave}"></span>
              </a>
            </li>
            <ul v-if="isOpenPwave" class="hr-nested-nav">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Review Control Panel</a></li>
            </ul>
            <li class="dropdown" @click="toggleF100d('dropdownlinkF100d')">
              <a href="#" class="dropdown-toggle is-bold">First 100 Days 
                <span class="font-arrow-down dropdown-icon is-text-sm text-primary" :class="{'font-arrow-up' : isOpenF100d}"></span>
              </a>
            </li>
            <ul v-if="isOpenF100d" class="hr-nested-nav">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Checklist Bank</a></li>
              <li><a href="#">Analytics</a></li>
            </ul>
            <li><a href="#" class="is-bold">Employee List</a></li>
            <li><a href="#" class="is-bold">Settings</a></li>
            <li><a href="#" class="is-bold">Employee Dashboard</a></li>
          </ul>
        </div>
      </transition>

      <main>
        <div class="top-header hidden-xs"></div>
        <div class="main-content">
          <div class="container-fluid">
            <div class="hr-top-header text-white">
              <div class="row row-center-vertical">
                <div class="col-md-6">
                  <h2 class="is-text-lg">Performance Wave</h2>
                  <p class="text-breadcrumb">Dashboard</p>
                </div>
                <div class="col-md-6 text-right">
                  <ul class="top-nav-hr">
                    <li class="top-nav-item"><a href="#">Hi, Peoplewave</a></li>
                    <li class="top-nav-item">
                      <a href="#"><i class="font-bell is-text-lg"></i></a>
                    </li>
                    <li class="top-nav-item">
                      <a href="#"><i class="font-question is-text-lg"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <router-view/>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
// import Push from 'push.js'

export default {
  name: 'app',
  data () {
    return {
      isOpenPwave: false,
      isOpenF100d: false,
      sidenavOpen: false
    }
  },
  methods: {
    togglePwave (dropdownName) {
      this.isOpenPwave = !this.isOpenPwave
    },
    toggleF100d (dropdownName) {
      this.isOpenF100d = !this.isOpenF100d
    },
    toggleSidenav () {
      console.log('hehe')
      this.sidenavOpen = !this.sidenavOpen
    }
    // pushMe () {
    //   Push.create('Hello World!')
    // }
  }
}
</script>

<style lang="scss">
  @import "assets/sass/hr.scss";
</style>
