// Buttons
.btn {
	@include border-radius(30px);
	font-weight: bold;
    padding: 7px 14px;
    outline: none;
    &:active {
		&:focus {
			outline: none;
		}
	}
	&:hover, 
	&:active, 
	&:focus, {
		outline: none;
	}
	@media screen and (max-width: $break-mobile-tablet) {
	  margin-bottom: 10px;
	}
}

.btn-primary {
	background-color: $color-primary;
	border-color: $color-primary;
	color: $color-black;
	&:hover, 
	&:active, 
	&:focus, 
	{
		background-color: $color-primary-hover;
		border-color: $color-primary-hover;
		color: $color-black;
		outline: none;
	}
	&:active {
		&:focus {
			background-color: $color-primary-hover;
			border-color: $color-primary-hover;
			outline: none;
		}
	}
	&.btn.active {
		background-color: $color-primary;
		border-color: $color-primary;
		color: $color-black;
	}
}

.btn-transparent {
	background-color: transparent;
	border-color: $color-primary;
}

.btn-danger {
	background-color: $color-red;
	border-color: $color-red;
	&:hover, &:focus {
		border-color: $color-red;
	}
}

.btn-success {
	background-color: $color-green--dark;
	border-color: $color-green--dark;
	&:hover, &:focus {
		border-color: $color-green;
	}
}

.btn-light {
	background-color: transparent;
	&:hover {
		background-color: $color-grey--soft; 
	}
}

.btn-dark {
	background-color: $color-black;
	border-color: $color-black;
	color: $color-white;
	&:hover {
		background-color: $color-black--soft;
    	border-color: $color-black--soft;
    	color: $color-white;
	}
}

.btn-link {
	color: $color-primary;
	&:hover {
		color: $color-primary;
		outline: none;
	}
}

.btn[disabled] {
	background-color: $color-grey--disabled;
	border-color: $color-grey--disabled;
	color: $color-grey;
	&:hover {
		@extend .btn[disabled];
	}
}

button.btn-sidenav-close {
    padding-right: 15px;
    opacity: 1;
	span {
		color: $color-white;
	}
	&:hover, &:focus, &:active {
		background-color: transparent;
	}
}

.btn-table--anchor {
    margin-right: 10px;
    color: $color-primary;
    &:hover {
    	text-decoration: none;
    	color: $color-primary-hover;
    }
}

.btn-circle {
	width: 30px;
    height: 30px;
    padding: 6px 0px;
    @include border-radius(15px);
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-group-chart {
	.btn {
		padding: 3px 18px;
		color: $color-primary;
	}
}

