.card {
	position: relative;
    margin: .5rem 0 1rem 0;
    background-color: $color-white;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border-radius: 2px;
    .card-content {
    	padding: 24px;
    	border-radius: 0 0 2px 2px;
    }
    .card-content--sm {
        padding: 1em;
    }
    .card-header {
        border-bottom: 1px solid rgba(160,160,160,0.2);
        padding: 24px;
        .card-header--title {
            font-weight: bold;
            margin-bottom: 1em; 
        }
        &.with-actions {
            padding-bottom: 6px;
        }
    }
    &.card-full-height {
        height: 100%;
        .card-content {
            height: 100%;
        }
    }
}