.checklist-collection {
    padding: 0;
	.checklist-collection--item {
		border-bottom: 1px solid $color-grey--softer;
		list-style-type: none;
	    margin-bottom: 14px;
	}
}

.cci-holder {
	display: table;
	width: 100%;
	.cci-item {
		display: table-cell;
		.cci-item-desc {
			color: $color-black--soft;
			font-size: 12px;
		}
	}
}