small {
  color: $color-grey;
}

// text transform
.is-uppercase {
  text-transform: uppercase;
}

// text weight
.is-bold {
  font-weight: 700;
}

// text sizes
.is-text-sm {
  font-size: 12px;
}

.is-text-md {
  font-size: 16px;
}

.is-text-lg {
  font-size: 20px;
}

.is-text-xl {
  font-size: 24px;
}

.is-text-xxl {
  font-size: 4em;
}

// text-colors
.text-white {
  color: $color-white;
}

.text-primary {
  color: $color-primary;
}

.text-breadcrumb {
  color: $color-breadcrumb;
}

.text-black--soft {
  color: $color-black--soft;
}

.text-success {
  color: $color-green--dark;
}

.row-center-vertical {
  display: flex;
  align-items: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

// veretical spacer
.spacer-xs {
  margin-bottom: .5em;
}

.spacer-sm {
  margin-bottom: 1.5em;
}

.spacer-md {
  margin-bottom: 3em;
}

// backgrounds
.dark {
  background-color: $color-black--soft;
}

.yellow {
  background-color: $color-primary;
}

.green {
  background-color: $color-green;
  color: $color-white;
}

.red {
  background-color: $color-red;
  color: $color-white;
}

.green-blur {
  background-color: $color-green--blur;
  color: $color-white;
}

/* Transition fade */

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.margin-less {
  margin: 0;
}

.margin-bottom-less {
  margin-bottom: 0;
}

.margin-top-less {
  margin-top: 0;
}

.border-less {
  border: 0;
}

.border-no-radius {
  border-radius: 0;
}

// Alginment
.inline-block {
    display: inline-block;
}
