@font-face {
  font-family: 'peoplewave';
  src:  url('peoplewave.eot?cu3bsp');
  src:  url('peoplewave.eot?cu3bsp#iefix') format('embedded-opentype'),
    url('peoplewave.ttf?cu3bsp') format('truetype'),
    url('peoplewave.woff?cu3bsp') format('woff'),
    url('peoplewave.svg?cu3bsp#peoplewave') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="font-"], [class*=" font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'peoplewave' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-arrow-down:before {
  content: "\e900";
}
.font-arrow-left-circle:before {
  content: "\e901";
}
.font-arrow-right-circle:before {
  content: "\e902";
}
.font-arrow-up:before {
  content: "\e903";
}
.font-award-circle:before {
  content: "\e904";
}
.font-bell:before {
  content: "\e905";
}
.font-check-sign:before {
  content: "\e906";
}
.font-close-button:before {
  content: "\e907";
}
.font-cog:before {
  content: "\e908";
}
.font-connection:before {
  content: "\e909";
}
.font-cup:before {
  content: "\e90a";
}
.font-envelope:before {
  content: "\e90b";
}
.font-eye:before {
  content: "\e90c";
}
.font-graphic:before {
  content: "\e90d";
}
.font-home:before {
  content: "\e90e";
}
.font-interface:before {
  content: "\e90f";
}
.font-left-arrow:before {
  content: "\e910";
}
.font-list:before {
  content: "\e911";
}
.font-menu:before {
  content: "\e912";
}
.font-message:before {
  content: "\e913";
}
.font-network:before {
  content: "\e914";
}
.font-plus-circle:before {
  content: "\e915";
}
.font-question:before {
  content: "\e916";
}
.font-right-arrow:before {
  content: "\e917";
}
.font-round-error:before {
  content: "\e918";
}
.font-skill-megaphone:before {
  content: "\e919";
}
.font-social-circle:before {
  content: "\e91a";
}
.font-thumb-down:before {
  content: "\e91b";
}
.font-thumb-neutral:before {
  content: "\e91c";
}
.font-thumb-up:before {
  content: "\e91d";
}
.font-triangle-circle:before {
  content: "\e91e";
}
.font-user:before {
  content: "\e91f";
}
.font-user-circle:before {
  content: "\e920";
}
