.label {
	border-radius: 10px;
    padding: .2em 1.4em .3em;
}

.label-default {
	background-color: $color-grey;
}

.label-primary {
	background-color: $color-primary;
}

.label-success {
	background-color: $color-green;
}

.label-danger {
	background-color: $color-red;
}