.mobile-menu {
	background-color: $color-black;
	padding: 1em 0;
	position: fixed;
	width: 100%;
	z-index: 2;
	@media screen and (min-width: $break-mobile-large) {
		display: none;
	}
	.top-nav-hr {
		float: right;
		list-style: none;
		margin-bottom: 0;
		@media screen and (max-width: $break-mobile-tablet) {
			display: inline-flex;
		}
		.top-nav-item {
			padding-right: 8px;
		}
		a {
			&:hover, &:focus, &:active {
				text-decoration: none;
				color: $color-primary-hover;
			}
		}
	}
}