.table {
    border-bottom: 1px solid $color-black--soft;

    tbody > tr > td {
        vertical-align: middle;
    }

    td {
        color: $color-black--soft;
    }

    th {
        color: $color-grey;
    }
}

.table > tbody > tr:first-child > td {
    border: none;
}

.pagination {
    margin: 5px 0;

    .pagination-actions {
        display: inline-block;
        margin-left: 1em;

        a {
            color: $color-primary;
            border-color: $color-primary;

            &:hover, &:active {
                background-color: $color-primary;
                color: $color-white;
            }

            &:focus {
                color: $color-primary;
                border-color: $color-primary;
                background-color: transparent;
            }
        }
    }
}
