// Colors
$color-primary: #F2A727;
$color-primary-hover: #FFC858;
$color-white: #FDFDFD;
$color-black: #272727;
$color-black--soft: #4A4A4A;
$color-grey: #9B9B9B;
$color-grey--soft: #e0e0e0;
$color-grey--softer: #EEEEEE;
$color-grey--disabled: #E3E3E3;
$color-red: #C30016;
$color-green: #79B473;
$color-green--dark: #346407;
$color-green--blur: #95AD78;
$color-breadcrumb: #AAAAAA;
$select-box-border: #979797;

// Anchors
$a-tags: "a.anchor-link, a.anchor-link:active, a.anchor-link:hover, a.anchor-link:visited";
$a-tags-hover: "a.anchor-link:active, a.anchor-link:hover";

// Screen
$break-mobile-small: 320px;
$break-mobile-large: 450px;
$break-mobile-tablet: 768px;
$break-large: 1024px;
